* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .col {
    float: left;
    width:  33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 10%;
  }

  button {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    align-self: center;
  }

  #d4 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }
  #d6 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }
  #d8 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }
  #d10 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }

  #d12 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }
  #d20 {
    height: 50;
    width: 50;
    padding: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
  }